@charset "UTF-8";

@font-face {
  font-family: "asylumconnect";
  src:url("/static/asylum-assets/fonts/asylumconnect.eot");
  src:url("/static/asylum-assets/fonts/asylumconnect.eot?#iefix") format("embedded-opentype"),
    url("/static/asylum-assets/fonts/asylumconnect.woff") format("woff"),
    url("/static/asylum-assets/fonts/asylumconnect.ttf") format("truetype"),
    url("/static/asylum-assets/fonts/asylumconnect.svg#asylumconnect") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "asylumconnect" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "asylumconnect" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-computers:before {
  content: "\61";
}
.icon-mental-health:before {
  content: "\62";
}
.icon-education:before {
  content: "\63";
}
.icon-housing:before {
  content: "\66";
}
.icon-hygiene:before {
  content: "\67";
}
.icon-legal:before {
  content: "\68";
}
.icon-medical:before {
  content: "\6a";
}
.icon-recreation:before {
  content: "\6b";
}
.icon-food:before {
  content: "\64";
}
.icon-mail:before {
  content: "\65";
}
.icon-employment:before {
  content: "\69";
}
.icon-community:before {
  content: "\6c";
}
.icon-is-free:before {
  content: "\6d";
}
.icon-has-a-confidentiality-policy:before {
  content: "\6e";
}
.icon-has-translation-services:before {
  content: "\6f";
}
.icon-report:before {
  content: "\70";
}
