{% extends 'layouts/base.html' %}
<!--TODO: have a "mark as read" column in the table -->
{% block content %}
<div class="ui stackable grid container">
    <div class="sixteen wide tablet fourteen wide computer centered column">
    <h2 class="ui centered header">
      Suggestions
    </h2>
    <table class="ui searchable sortable unstackable selectable celled striped table">
      <thead>
        <tr>
          <th>Submission Time</th>
          <th>Resource Name</th>
          <th>Resource Address</th>
          <th>Action</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for suggestion in suggestions %}
          <tr>
            <td>{{ suggestion.submission_time.strftime("%Y-%m-%d %H:%M") }}</td>
            <td>{{ suggestion.name }}</td>
            <td>{{ suggestion.address }}
              <br>
              {% if not suggestion.contact_email or suggestion.contact_email == '' %}
                {{ suggestion.contact_number }}
              {% else %}
                {{ suggestion.contact_email }}
                <br>
                {{ suggestion.contact_number }}
              {% endif %}
            </td>
            <td>
              {% if not suggestion.resource_id %}
                <a href="{{ url_for('single_resource.create_from_suggestion', suggestion_id=suggestion.id) }}">Create</a>
              {% else %}
                <a href="{{ url_for('single_resource.edit_from_suggestion', suggestion_id=suggestion.id) }}">
                  Edit
                </a>
              {% endif %}
            </td>
            <td>
              <a href="{{ url_for('suggestion.toggle_read', sugg_id=suggestion.id) }}">
                {% if suggestion.read %}
                  Mark as unread
                {% else %}
                  Mark as read
                {% endif %}
              </a>
              <br>
              <a href="{{ url_for('suggestion.delete', sugg_id=suggestion.id) }}">
                Delete
              </a>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
