{% extends 'layouts/base.html' %}
{% import 'macros/form_macros.html' as f %}

{% block content %}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAhkKJDnPxq0_xvF6pLAFcKfVAL6GbARBs&libraries=places&callback=initAutocomplete"
        async defer>
</script>

<script>
$(document).ready(function() {
    $(".ui.dropdown>.text").text("Click to choose an option");
});
</script>

  <div class="ui text container">
    <a class="ui basic compact button" href="{{ url_for('main.index') }}">
      <i class="caret left icon"></i>
      Back
    </a>
    <h1>
      {% if name %}
        Suggestion for {{ name }}
      {% else %}
        Suggest New Resource
      {% endif %}
    </h1>
    <p>
      Thank you for your interest in contributing to the AsylumConnect resource catalog! Use this form to suggest a
      resource you think should be included. It's ok if you do not have all of the information the form asks for -
      just fill in what you know, and we'll do the rest! We appreciate your submission and thank you for helping to
      connect asylum seekers to helpful services. All suggested resources are subject to review by AsylumConnect staff
      before being published.
    </p>
    {{ f.render_form(form) }}
  </div>
{% endblock %}
