{% extends 'layouts/asylum-base.html' %}

{% block content %}
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <meta name="csrf-token" content="{{ csrf_token() }}">

    <div class="main col-md-7 col-sm-12">
      <div class="header">
        <div id="logo">
          <a href="http://www.asylumconnect.org/" target="_blank"><img style="width: 100px;" src="/static/asylum-assets/images/logo.jpeg" alt="AsylumConnect"></a>
        </div>
        <div class="left-header">
          <div id="google_translate_element" class="translate"></div>
          <div id="links" class="hidden-xs">
            <a href="http://www.asylumconnect.org/our-catalog/" target="_blank">ABOUT</a>
            <a href="http://goo.gl/forms/UjxEbg6H3O" target="_blank">SHARE FEEDBACK</a>
            <a href="{{ url_for('suggestion.suggest_create') }}" target="_blank">SUBMIT A RESOURCE</a>
            <a href="http://www.asylumconnect.org/contact-us/" target="_blank">CONTACT US</a>
          </div>
        </div>
      </div>
      <div class="filters">
        <!-- data-spy="affix" data-offset-top="280" -->
        <h3 id="location-query"><span class="hide-in-screen">Showing</span><span class="hide-in-print">Find</span> LGBTQ- and asylum-friendly resources in
          <span class="hide-in-screen">{{ city }}</span>
          <div class="hide-in-print btn-group">
            <button class="btn btn-link" type="button" data-toggle="dropdown">
              {{ city }}
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              {% for option in cities %}
                <li><a href="{{ url_for('.city_view', city_name=option.lower()) }}" target="_blank">{{ option.title() }}</a></li>
              {% endfor %}
            </ul>
          </div>
        </h3>
        <div>
          <h4 id="category-query" class="hide-in-print">What types of service are you looking for? Select all that apply:</h4>
          <h4 id="category-query" class="hide-in-screen">Listing services in the following categories:</h4>
          <span id="hidden-buttons" class="hide-in-screen"> </span>
        </div>
        <div>
          <div class="btn-group">
            <button type="button" id="medical" class="btn-category-group btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="icon-medical btn-icon"></span>Medical<span class="fa fa-angle-down"></span></button>
            <ul class="dropdown-menu">
              <li><a href="#"><label><input type="checkbox" data-label="Medical Clinics" data-ic="medical" id="medical-clinics" class="checkbox-category"/>Medical Clinics</label></a></li>
              <li><a href="#"><label><input type="checkbox" data-label="Women's Health" data-ic="medical" id="womens-health" class="checkbox-category"/>Women's Health</label></a></li>
              <li><a href="#"><label><input type="checkbox" data-label="Sexual Health" data-ic="medical" id="sexual-health" class="checkbox-category"/>Sexual Health</label></a></li>
              <li><a href="#"><label><input type="checkbox" data-label="Trans Health" data-ic="medical" id="trans-health" class="checkbox-category"/>Trans Health</label></a></li>
              <li><a href="#"><label><input type="checkbox" data-label="Dental Care" data-ic="medical" id="dental-care" class="checkbox-category"/>Dental Care</label></a></li>
            </ul>
          </div>
          <div class="btn-group">
            <button type="button" id="legal" class="btn-category-group btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="icon-legal btn-icon"></span>Legal<span class="fa fa-angle-down"></span></button>
            <ul class="dropdown-menu">
              <li><a href="#"><label><input type="checkbox" data-label="Legal Aid" data-ic="legal" id="legal-aid" class="checkbox-category"/>Legal Aid</label></a></li>
              <li><a href="#"><label><input type="checkbox" data-label="Documentation" data-ic="legal" id="documentation" class="checkbox-category"/>Documentation</label></a></li>
            </ul>
          </div>
          <button type="button" id="housing" class="btn-category btn btn-default" data-toggle="button"><span class="icon-housing btn-icon"></span>Housing</button>
          <button type="button" id="food" class="btn-category btn btn-default" data-toggle="button"><span class="icon-food btn-icon"></span>Food</button>
          <button type="button" id="hygiene" class="btn-category btn btn-default" data-toggle="button"><span class="icon-hygiene btn-icon"></span>Hygiene</button>
          <button type="button" id="computers-and-internet" class="btn-category btn btn-default" data-toggle="button"><span class="icon-computers btn-icon"></span>Computers and Internet</button>
          <button type="button" id="employment" class="btn-category btn btn-default" data-toggle="button"><span class="icon-employment btn-icon"></span>Employment</button>
          <div class="btn-group">
            <button type="button" id="education" class="btn-category-group btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="icon-education btn-icon"></span>Education<span class="fa fa-angle-down"></span></button>
            <ul class="dropdown-menu">
              <li><a href="#"><label><input type="checkbox" data-label="English Classes" data-ic="education" id="english-classes" class="checkbox-category"/>English Classes</label></a></li>
              <li><a href="#"><label><input type="checkbox" data-label="Libraries" data-ic="education" id="libraries" class="checkbox-category"/>Libraries</label></a></li>
            </ul>
          </div>
          <div class="btn-group">
            <button type="button" id="community" class="btn-category-group btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="icon-community btn-icon"></span>Community Support<span class="fa fa-angle-down"></span></button>
            <ul class="dropdown-menu">
              <li><a href="#"><label><input type="checkbox" data-label="Community Centers" data-ic="community" id="community-centers" class="checkbox-category"/>Community Centers</label></a></li>
              <li><a href="#"><label><input type="checkbox" data-label="LGBT Centers" data-ic="community" id="lgbt-centers" class="checkbox-category"/>LGBT Centers</label></a></li>
              <li><a href="#"><label><input type="checkbox" data-label="Cultural Centers" data-ic="community" id="cultural-centers" class="checkbox-category"/>Cultural Centers</label></a></li>
            </ul>
          </div>
          <div class="btn-group">
            <button type="button" id="mental-health" class="btn-category-group btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="icon-mental-health btn-icon"></span>Mental Health<span class="fa fa-angle-down"></span></button>
            <ul class="dropdown-menu">
              <li><a href="#"><label><input type="checkbox" data-label="Support Groups" data-ic="mental-health" id="support-groups" class="checkbox-category"/>Support Groups</label></a></li>
              <li><a href="#"><label><input type="checkbox" data-label="Private Counseling" data-ic="mental-health" id="private-counseling" class="checkbox-category"/>Private Counseling</label></a></li>
              <li><a href="#"><label><input type="checkbox" data-label="Psychiatry" data-ic="mental-health" id="psychiatry" class="checkbox-category"/>Psychiatry</label></a></li>
            </ul>
          </div>
          <button type="button" id="mail" class="btn-category btn btn-default" data-toggle="button"><span class="icon-mail btn-icon"></span>Mail</button>
          <button type="button" id="sport-and-entertainment" class="btn-category btn btn-default" data-toggle="button"><span class="icon-recreation btn-icon"></span>Sport and Entertainment</button>
        </div>

        <div>
          <h4 id="feature-query" class="hide-in-print">What additional features are important to you? Select all that apply:</h4>
          <h4 id="feature-query" class="hide-in-screen">With these additional required features:</h4>
          <button type="button" id="has-a-confidentiality-policy" class="btn-filter btn btn-default" data-toggle="button"><span class="icon-has-a-confidentiality-policy btn-icon"></span>Has a Confidentiality Policy</button>
          <button type="button" id="is-free" class="btn-filter btn btn-default" data-toggle="button"><span class="icon-is-free btn-icon"></span>Is Free</button>
          <button type="button" id="has-translation-services" class="btn-filter btn btn-default" data-toggle="button"><span class="icon-has-translation-services btn-icon"></span>Has Translation Services</button>
        </div>
        <br>
        <div>
          <!--<h4 id="requirement-query" class="hide-in-screen">Don't show me resources that require...</h4>-->
          <div class="panel panel-default" id="requirement-query">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#requirement-query" href="#collapse">Don't show me resources that require...</a>
              </h4>
            </div>
            <div id="collapse" class="panel-collapse collapse">
              <div class="panel-body">
                <form>
                  <label class="checkbox-inline checkbox-requirement" id="photo-id"><input type="checkbox" value="">Photo ID</label>
                  <label class="checkbox-inline checkbox-requirement" id="proof-of-age"><input type="checkbox" value="">Proof of Age</label>
                  <label class="checkbox-inline checkbox-requirement" id="proof-of-residence"><input type="checkbox" value="">Proof of Residence</label>
                  <label class="checkbox-inline checkbox-requirement" id="proof-of-income"><input type="checkbox" value="">Proof of Income</label>
                  <label class="checkbox-inline checkbox-requirement" id="medical-insurance"><input type="checkbox" value="">Medical Insurance</label>
                  <label class="checkbox-inline checkbox-requirement" id="a-referral"><input type="checkbox" value="">A Referral</label>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="resources">
        <div class="catalog">
          <div class="disclaimer">
            <p><strong>Disclaimer:</strong> The AsylumConnect team will do its best to confirm basic facts about service providers listed on this website. However, we lack the necessary resources to adequately vet service providers and make no representations regarding the viability or capabilities of any such providers. Consequently, AsylumConnect assumes no responsibility for the actions of providers listed on this website and asylum seekers who contact any such providers do so at their own risk.</p>
            <strong>User Privacy:</strong> The AsylumConnect Catalog uses Google Analytics with <a href="https://support.google.com/analytics/answer/2763052?hl=en" style="color:blue;" target="_blank">anonymized IP addresses</a> to help analyze how visitors use this site. Google Analytics uses cookies, which are small text files placed on your computer, to collect standard visitor behaviour information in an anonymous form. No personally identifiable information is collected about you, unless you explicitly submit that information on this website. If you would like to opt-out of Google Analytics, you may do so by clicking <a href="https://tools.google.com/dlpage/gaoptout" style="color:blue;" target="_blank">here</a>.
          </div>

          {% for resource in resources %}
          <div class="resource{% for category in resource.categories %} {{ category.lower().replace(' ', '-') }}{% endfor %}{% for feature in resource.features %} {{ feature.lower().replace(' ', '-') }}{% endfor %}{% for requirement in resource.requirements %} {{ requirement.lower().replace(' ', '-') }}{% endfor %}">
            <header class="resource-header">
              <h3 class="resource-name" id="{{ resource.name.lower().replace(' ', '-') }}">{{ resource.name }}</h3>
              {% if resource.report_count|int > 0 %}
                <span class="icon-housing btn-icon" title="This resource has been reported {{ resource.report_count }} time(s) to AsylumConnect for negative user experience"></span>
              {% endif %}
              <span class="hide-in-print"><a href="{{ url_for('suggestion.suggest_edit', resource_id=resource.id) }}" target="_blank">EDIT</a></span>
              <span class="hide-in-print"><a href="https://goo.gl/forms/8bWRpNs7P2pj7ORx2" target="_blank">REPORT</a></span>
            </header>
            <article class="resource-content">
              {# TODO: fully flesh this out. content_fields are simply the list of fields from the resource object that we display for each resource object, in the order that we want them displayed (so this says description goes first, and non_english_services, if available, goes last #}
              {% set singleton_fields = ['description', 'populations_served', 'address', 'hours', 'email', 'additional_information'] %}
              {% for field in singleton_fields %}
                {% if field in resource and resource[field] is not none and resource[field]|length > 0 %}
                <p>
                  <span style="font-weight: BOLD">{{ field.replace('_', ' ').title() }}: </span>
                  {{ resource[field] }}
                </p>
                {% endif %}
              {% endfor %}
              {% set hyperlink_fields = ['website'] %}
              {% for field in hyperlink_fields %}
                {% if field in resource and resource[field] is not none and resource[field]|length > 0 %}
                <p>
                  <span style="font-weight: BOLD">{{ field.replace('_', ' ').title() }}: </span>
                  <a href="{{ resource[field] }}" target="_blank">{{ resource[field] }}</a>
                </p>
                {% endif %}
              {% endfor %}
              {% set comma_separated_list_fields = ['phone_numbers', 'non_english_services'] %}
              {% for field in comma_separated_list_fields %}
                {% if field in resource and resource[field] is not none and resource[field]|length > 0 %}
                <p>
                  <span style="font-weight: BOLD">{{ field.replace('_', ' ').title() }}</span>
                  {% set list = resource[field].split(',') %}
                  <ul>
                    {% for item in list %}
                    <li>{{ item }}</li>
                    {% endfor %}
                  </ul>
                </p>
                {% endif %}
              {% endfor %}
              {% set list_fields = ['requirements'] %}
              {% for field in list_fields %}
                {% if field in resource and resource[field] is not none and resource[field]|length > 0 %}
                <p>
                  <span style="font-weight: BOLD">{{ field.replace('_', ' ').title() }}</span>
                  <ul>
                    {% for item in resource[field] %}
                    <li>{{ item }}</li>
                    {% endfor %}
                  </ul>
                </p>
                {% endif %}
              {% endfor %}
            </article>

            {% for group in resource.supercategories %}
            <span class="icon-{{ group.lower().replace(' ', '-') }} btn-icon" title="{{ group }}"></span>
            {% endfor %}

            {% for category in resource.categories %}
              {% set subcategory = category.lower().replace(' ', '-') %}
              {% if subcategory in category_icons %}
                <span class="icon-{{ subcategory }} btn-icon" title="{{ subcategory.title() }}"></span>
              {% endif %}
            {% endfor %}

            {% for feature in resource.features %}
              <span class="icon-{{ feature.lower().replace(' ', '-') }} btn-icon" title="{{ feature }}"></span>
            {% endfor %}

            <!-- Google Maps -->
            {% if 'address' in resource %}
            <div class="mapping">
              <div class="map-point" address="{{ resource.address }}"{% if 'lat' in resource %} lat="{{ resource.lat }}" long="{{ resource.long }}"{% endif %}>
                <b><a href="{{ resource.website }}" target="_blank">{{ resource.name }}</a></b><br>
                {{ resource.address }}<br>
                <a href="#{{ resource.name.lower().replace(' ', '-') }}">See More Info</a><br>

                {% for group in resource.supercategories%}
                <span class="icon-{{ group.lower().replace(' ', '-') }} btn-icon small"></span>
                {% endfor %}

                {% for category in resource.categories %}
                {% set subcategory = category.lower().replace(' ', '-') %}
                {% if subcategory in category_icons %}
                <span class="icon-{{ subcategory }} btn-icon small"></span>
                {% endif %}
                {% endfor %}

                {% for feature in resource.features %}
                <span class="icon-{{ feature.lower().replace(' ', '-') }} btn-icon small"></span>
                {% endfor %}
              </div>
            </div>
            {% endif %}
          </div>
          {% endfor %}
        </div>
      </div>
      <div class="footer">
        <a href="{{ url_for('suggestion.suggest_create') }}" target="_blank">SUGGEST A RESOURCE</a> |
        <a href="http://goo.gl/forms/UjxEbg6H3O" target="_blank">SHARE FEEDBACK</a>
      </div>
    </div>
    <div class="map hidden-sm hidden-xs">
      <div id="map" class="map-canvas">
      </div>
    </div>
{% endblock %}
